<!-- Partie Qui suis-je ? -->
<div class="container">
  <!-- Titre  -->
  <div class="row Space5"></div>
  <div class="title d-flex">Qui suis-je ?</div>
  <div class="row Space5"></div>
  <!-- video -->
  <div class="row offset-1 col-10 offset-sm-2 col-sm-8 offset-lg-3 col-lg-6 ">
    <div class="embed-responsive embed-responsive-16by9 contenairVid">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pumJJAsKs0M" allowfullscreen frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row Space15"></div>
</div>
<!-- Partie Concept -->
<!-- Image coeur en fond -->
<section class='bg-image'>
  <!-- Fong Noir transparent -->
  <div class="container-fluid no-gutters conceptPart">
    <div class="container">
      <div class="row Space5"></div>
      <!-- Titre -->
      <div class="titleNb d-flex">Concept</div>
      <div class="row Space5"></div>
      <div class="row">
        <div class="contenair">
          <p class="policeSilver">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
            ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
            reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
            fugiat quo voluptas nulla pariatur.</p>
        </div>
      </div>
      <div class="row Space15"></div>
    </div>
  </div>
</section>
<!--Partie Organisation Soirées  -->
<div class="container">
  <div class="row Space5"></div>
  <!-- Titre -->
  <div class="title d-flex">Organisation soirées</div>
  <div class="row Space5"></div>
  <div class="row justify-content-between align-items-center offset-sm-2 col-sm-8 offset-md-0 col-md-12 offset-lg-0 col-lg-12">
    <div class="contenairPic pic1 order-md-2"></div>
    <div class="contenairTxt order-md-1">
      <p class="policeBlack">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo.</p>
    </div>
    <div class="contenairPic pic2"></div>
  </div>
  <div class="row Space15"></div>
</div>
