<!-- Partie Qui suis-je ? -->
<div class="container">
  <!-- Titre  -->
  <div class="row Space5"></div>
  <div class="title d-flex">Qui suis-je ?</div>
  <div class="row Space5"></div>
  <!-- video -->
  <div class="row offset-1 col-10 offset-md-1 col-md-10 offset-lg-3 col-lg-6 offset-xl-2 col-xl-8 ">
    <div class="embed-responsive embed-responsive-16by9 contenairVid">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pumJJAsKs0M" allowfullscreen frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row Space15"></div>
</div>
<!-- Partie Concept -->
<!-- Image coeur en fond -->
<section class='bg-image'>
  <!-- Fong Noir transparent -->
  <div class="container-fluid no-gutters conceptPart">
    <div class="container">
      <div class="row Space5"></div>
      <!-- Titre -->
      <div class="titleNb d-flex">Concept</div>
      <div class="row Space5"></div>
      <div class="row">
        <div class="contenair">
          <p class="policeSilver">
            Dans la trés  belle région du Perche,  Tandem Rencontre, vous permettra de rencontrer de nouvelles personnes et j’espère l'âme sœur
            En vous inscrivant,je vous rencontrerai, afin de faire un diagnostic complet dans l'objectif de vous faire rencontrer les célibataires les plus compatibles. 
            Les célibataires se retrouveront par la suite, autour d'un atelier et d'un dîner en petits groupes afin de créer de vrais contacts et une véritable cohésion.
            Loin des rencontres virtuelles, une prise en charge globale de votre personnalité sera prise en compte.
            Si vous êtes seul(e) et que vous souhaitez mettre tout en oeuvre pour rencontrer 
            quelqu'un qui vous correspond, contactez moi, je ferai mon maximum pour. </p>
        </div>
      </div>
      <div class="row Space15"></div>
    </div>
  </div>
</section>
<!--Partie Organisation Soirées  -->
<div class="container">
  <div class="row Space5"></div>
  <!-- Titre -->
  <div class="title d-flex">Organisation soirées</div>
  <div class="row Space5"></div>
</div>
  <div class="container-fluid">
  <div class="row justify-content-between align-items-center offset-0 col-sm-8 offset-md-2 col-md-12 offset-lg-0 col-lg-12">
    <div class="contenairPic pic1"></div>
    <div class="contenairTxt ">
      <p class="policeBlack">Loin des rencontres virtuelles pour célibataires, Tandem Rencontre est un concept ou je vous prépare a donner le meilleur de vous même lors de nos soirées. En petits groupes, pour favoriser les échanges, avec une équité respectée et des célibataires sélectionnés.</p>
       <p class="policeBlack">"La vie est un défi à relever, un bonheur à mériter, une aventure à tenter" Mere Theresa.</p>
    </div>
    <div class="contenairPic pic2"></div>
  </div>
  <div class="row Space15"></div>
</div>
