<div class="question-container">
  <p class="question-header text-center">Question à poser pour y répondre car sinon il n'y a pas de réponse</p>
  <div class="awnser-container justify-content-center">
    <!-- <app-awnser-check-box *ngIf="test"></app-awnser-check-box>
    <app-awnser-input *ngIf="!test"></app-awnser-input> -->
    <div><input type="checkbox" class="check" name="check1" id="check1" >
      <label class="layout" for="check1"></label>
        
      <input type="checkbox" class="check" name="check2" id="check2" >
      <label class="layout" for="check2"></label>
        
      <input type="checkbox" class="check" name="check3" id="check3" >
      <label class="layout" for="check3"></label></div>
      <input>
  </div>
</div>
