<!-- Image de fond -->
<section class='bg-image'>
  <!-- Pagge acceuil -->
  <div class="container-fluid no-gutters page-accueil">
    <div class="BackgoundColorImage">
      <!-- Titre & Slogan -->
      <div class="title d-flex justify-content-center">Tandem-Rencontre</div>
      <div class="slogan d-flex justify-content-center">&Agrave; deux, c'est toujours mieux</div>
      <div class="container-fluid no-gutters">
        <div class="row Space"></div>
          <!-- Logo -->
        <div class="row justify-content-center">
          <div class="logo"></div>
          <!-- Bouton -->
          <div id="home-btn">
          <a class="btn btn-general btnAcceuil smooth-scroll" href="#about" title="Start Now" role="button">Découvir</a>
      </div>
           <!-- Fleche vers le bas -->
        <a href="#about" id="arrow-down" class="smooth-scroll">
          <i class="fa fa-angle-down"></i>
      </a>
        </div>
      </div>
    </div>
  </div>
</section>