<!-- Image de fond -->
<section class='bg-image'>
  <!-- Pagge acceuil -->
  <div class="container-fluid no-gutters page-accueil">
    <div class="BackgoundColorImage">
      <!-- Titre & Slogan -->
      <div class="title d-flex justify-content-center">Tandem-Rencontre</div>
      <div class="slogan d-flex justify-content-center">&Agrave; deux, c'est toujours mieux</div>
      <div class="container-fluid no-gutters">
        <div class="row Space5"></div>
        <!-- Logo -->
        <div class="row justify-content-center">
          <div class="logo"></div>
        </div>
        <!-- Bouton -->
        <div class="row Space5"></div>
        <div class="row justify-content-center">
          <a class="btn btn-general btnAcceuil smooth-scroll" href="#about" title="Start Now" role="button">Découvir</a>
        </div>
      </div>
    </div>
  </div>
</section>